
<div style="height:70px;overflow:hidden;">
<table width="100%">
  <tr>
    <td width="100" valign="top">
      <%= "#{deal.sponsor.name}&nbsp;kupuje&nbsp;<b>#{deal.description.gsub(/\s/, "&nbsp;")}</b>&nbsp;za&nbsp;#{deal.cost}&nbsp;zl&nbsp;dla:&nbsp;" %>
    </td>
    <td width="*">
      <%= deal.spongers.map{ |s| s.name}.join(', ') %>
    </td>
    <td align="right" width="150" valign="top">
      <%= deal.created_at.strftime("%d.%m.%Y - %H:%M:%S") %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div style="float:none;display:block;">
        <table width="100%">
          <tr>
            <td rowspan="2" width="20" valign="middle"><%= gravatar_for(deal.sponsor, :size => 30)%></td>
            <td align="center" width="10" height="1" valign="middle">
              <!--<img src="/images/icons/<%= deal.icon.to_s %>.gif"/><br/>-->
              <span class="strzalka_disabled" style="float:bottom;" valign="top" height="*">
                <span><%= deal.cost %> zł</span>
              </span>
            </td>
            <td rowspan="2" width="300" valign="middle">
              <% l = deal.spongers.length %>
              <% deal.spongers.each do |sponger| -%>
                <%= gravatar_for(sponger, :size => 30) %>
              <% end -%>
            </td>
            <td rowspan="2" width="*" valign="middle">
            </td>
          </tr>
          <tr>
            <td>
              
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<div style="position:relative;background-color:#FFF;opacity:0.8;height:75px;top:-70px;" id="deal_additional_info_<%= deal.id %>" onready="alert('s');this.style.width=this.up().style.offsetWidth + 'px'">
  <script type="text/javascript">
    deal_ai = $("deal_additional_info_<%= deal.id %>")
    deal_ai.style.width = deal_ai.up().offsetWidth + 'px'
  </script>
  <table width="100%" height="100%">
    <tr><td style="font-family:arial; font-weight:bold;font-size:25px;color:#AAA;" align="center" valign="middle">ZAQPEK USUNIETY</td></tr>
  </table>
</div>
</div>
