<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>ZaQpki <%= @title.to_s %> </title>
    <%= stylesheet_link_tag 'bundle', 'autocompleter'  %>
    <%= javascript_include_tag :all  %>
  </head>
  <body>
    <div id="flash">
    <% if flash[:error] %>
      <div id="flash_error"><%= flash[:error].to_s %></div>
    <% end %>
    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice].to_s %></div>
    <% end %>
    </div>

    <div id="main">
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="site">
        <div class="info">

        </div>
        <div class="sponsor">
          <img src="/images/t15.png" alt="Engine Yard">
        </div>
      </div>
    </div>
    
    <div id="coming_soon" style="display: none;">
      This feature is coming soon.  Sit tight!
    </div>
    
    
</body>
</html>