<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag 'global'   %>	
<%= javascript_include_tag 'dashboard'   %>
    <title>ZaQpki Dashboard</title>
  </head>
  <body id="account_login">
    <div id="container">
      <div id="header">
        <a href="http://zaqpki.unl.pl/"><img src="/images/zaqpki.png" id="logo"></a>
        <div id="nav">
          <% if @current_user %>
            <a href="/logout">Logout</a>
          <% end %>
        </div>
      </div>
      <div id="content_container">
        <div id="content" style="padding-top: 10px">
          <% if flash[:error] %>
            <div id="flash_error"><%= flash[:error] %></div>
          <% end %>
          <% if flash[:notice] %>
            <div id="flash_notice"><%= flash[:notice] %></div>
          <% end %>
          <%= yield %>
        </div>
        <div id="footer">
          <strong>(c) zaQpki, Inc.</strong>
          <a>Help</a>
          <a>What's New</a>
          <a>Developers</a>
          <a>Content Policy</a>
          <a>Terms of Service</a>
        </div>
      </div>
    </div>
  </body>
</html>